html {
  font-size: 10px;
  background: url(https://i.imgur.com/mgsUH0G.gif) center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgb(255, 0, 0, 0.657);
  text-shadow: 1px 1px .5rem rgb(0, 0, 0);
}

.playing {
  transform: scale(1.1);
  border-color: #00ffff;
  box-shadow: 0 0 1rem #00ffff;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  body,html {
    margin: 0;
    padding: 10px;
    max-width: 100%;
  }

  .keys {
    display: block;
  }
  .key {
    display: inline-block;
  }
}
